/.idea
*.pyc
*.pyo
*.db
.DS_Store
.coverage
local_settings.py
#/static
/venv
#/static
#/static

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
