Django==1.7.4
Pillow==2.7.0
PyYAML==3.11
awsebcli==3.5
backports.ssl-match-hostname==3.4.0.2
blessed==1.9.5
boto==2.36.0
botocore==1.1.9
cement==2.4.0
colorama==0.3.3
dj-database-url==0.3.0
dj-static==0.0.6
django-storages==1.1.8
django-toolbelt==0.0.1
docker-py==1.1.0
dockerpty==0.3.4
docopt==0.6.2
docutils==0.12
gunicorn==19.2.1
jmespath==0.7.1
pathspec==0.3.3
psycopg2==2.6
python-dateutil==2.4.2
requests==2.6.2
six==1.9.0
static3==0.5.1
texttable==0.8.3
wcwidth==0.1.4
websocket-client==0.32.0
whitenoise==1.0.6
wsgiref==0.1.2
