packages:
  yum:
    git: []
    postgresql93-devel: []


option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "formal_portfolio.settings"
    "PYTHONPATH": "/opt/python/current/app/final_portfolio:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: final_portfolio/formal_portfolio/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "www/static/"