{% extends 'base.html' %}
{% load staticfiles %}
{% block meta %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>Travis Cockcroft -About</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<!-- stylesheets -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/compiled/theme.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/vendor/ionicons.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/vendor/font-awesome.css' %}">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">


	<!-- javascript -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/theme.js' %}"></script>
    <script src="{% static 'js/ga.js' %}"></script>


	<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body id="timeline">
{% endblock %}

{% block content %}
	<div class="timeline-wrapper">
		<div class="container">

			<div class="year">
				<span>Present</span>
			</div>

			<div class="node left">
				<div class="marker"></div>
				<div class="entry firstnode">
					<div class="intro">
						<h4>Started work at RadiumOne!</h4>
						<p>

							<br />
							Optimization Intern.
						</p>
					</div>
				</div>
			</div>
            <div class="node ">
				<div class="marker"></div>
				<div class="news">
					<section>
						<h3>
						    I love to solve big challenges. Luckily I can pursue my passions at RadiumOne!
						</h3>
						<p>
                            Working with a very talented group of Optimization analysts. We all come from very different
                            backgrounds, yet we all share a passion for data. We discover proprietary insights with the
                            use of "big data" and intellectual power to best serve digital advertising
                            for our clients.
						</p>
					</section>
					<footer class="clearfix">
						<span class="date pull-right">February 2nd 2015</span>
					</footer>
				</div>
			</div>
            <div class="clearfix"></div>
			<div class="year last">
				<span>2015</span>
			</div>
			<div class="node">
				<div class="marker"></div>
				<div class="entry rocketu" >
					<div class="intro">
						<h4>Rocketspace's RocketU </h4>
						<p>
							I attended Rocket Web Developer Bootcamp during my junior summer break.
							<br />

						</p>
					</div>
				</div>
			</div>
           <div class="node left">
				<div class="marker"></div>
				<div class="news">
					<section>
						<h3>
							This has been one of the best decisions of my life!
						</h3>
						<p>
                            I spent the entire summer learning
                            programming during a 12 week bootcamp. I learned Javascript, Python, Django and I got hooked
                            really fast. In fact, I now spend most of my time working on side projects while taking
                            classes  and working during my senior year.
						</p>
					</section>
					<footer class="clearfix">

						<span class="date pull-right">June-August, 2014</span>
					</footer>
				</div>
			</div>
			<div class="node left ">
				<div class="marker"></div>
				<div class="entry smallish buscomp" >
					<div class="intro">
						<h4>Won Saint Mary's Idea Competition March 4th 2014</h4>
						<p>

							<br />

						</p>
					</div>
				</div>
			</div>

			<div class="node ">
				<div class="marker"></div>
				<div class="news">
					<section>
						<h3>
							My first big speech in front of a large crowd full of angel investors and colleagues.
						</h3>
						<p>
                            I entered this competition after seeing my mom become a victim of price discrepancies
                            in the health-care system. I came up with an idea in less than a week and put together a
                            SWOT analysis. After making the finals at the business competition, I found my idea too
                            broad and pivoted to a system to cure excess capacity using dynamic pricing. This was the
                            first major award I ever won. I learned an incredible amount in a short time because of it.
						</p>
					</section>
					<footer class="clearfix">


						<span class="date pull-right">March 4th, 2014</span>
					</footer>
				</div>
			</div>

            <div class="clearfix"></div>
			<div class="year last">
				<span>2014</span>
			</div>
			<div class="node">
				<div class="marker"></div>
				<div class="entry smc" >
					<div class="intro">
						<h4>Transferred to Saint Mary's College of California</h4>
						<p>
							Studied Finance but I was always dreaming of technology!
							<br />
						</p>
					</div>
				</div>
			</div>
			<div class="node left">
				<div class="marker"></div>
				<div class="news">
					<section>
						<h3>
							A small school that changed my life for the better!
						</h3>
						<p>
                            After working two jobs for long enough, I decided it was time to finish my degree.
                            I picked Saint Mary's because I thought I could stand out, it was a liberal arts
                            college that requires critical thinking, and I could build great relationships with my
                            professors. I love having deep discussions about finance, economics, and great literature
                            in the Seminar program. Saint Mary's is wonderful institution which allowed me to stay
                            in the Bay Area.
						</p>
					</section>
					<footer class="clearfix">
						<span class="date pull-right">August, 2013</span>
					</footer>
				</div>
			</div>
			<div class="clearfix"></div>
			<div class="year last">
				<span>&infin;</span>
			</div>

		</div>
	</div>
{% endblock %}
