{% extends 'base.html' %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
{% block meta %}

    {% for info in meta %}

	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>{{ info.title }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content={{ info.description }} />
{#    <meta name="keywords" content={{ info.tags }} />#}
    <meta name="robots" content="index, follow" />
	<!-- stylesheets -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/compiled/theme.css'  %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/vendor/font-awesome.css'  %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/vendor/icomoon.css'  %}">

	<!-- javascript -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/theme.js' %}"></script>
<!-- stylesheets -->
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">




	<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% endfor %}
</head>
<body id="blogpost">
{% endblock %}

	<header class="navbar navbar-inverse normal" role="banner">
  		<div class="container">
    		<div class="navbar-header">
		      	<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
		      	</button>
      				<a href="{% url 'home' %}" class="navbar-brand">Travis Cockcroft</a>
        </div>
        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
            <ul class="nav navbar-nav navbar-right">

                <li><a href="{% url 'about' %}"> About</a></li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Portfolio <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'resume' %}">Resume</a></li>
                        <li><a href="{% url 'portfolio' %}">Projects</a></li>

                    </ul>
                </li>

                <li><a href="{% url 'blog' %}">Blog</a></li>
            </ul>
    		</nav>
  		</div>
	</header>
{% block content %}

	<div id="blogpost-wrapper">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="main-pic">
						<img src="{{ blog.img }}" class="img-responsive" alt="blogpost" />
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-10 post">
					<div class="title">
						{{blog.title }}
					</div>
					<div class="author">
						By {{ blog.author }}, {{ blog.created }}
					</div>
					<div class="content">
                        <p>

                            {{ blog.body|linebreaks }}
                        </p>

						<blockquote>
							{{ blog.block_quote }}
                            <br>
                            <br>
                            -{{ blog.author }}
						</blockquote>
						<p>
							<img src="{{ blog.img2 }}" class="img-responsive" alt="slide" />
						</p>

					</div>

					<div class="other-posts">
						<a href="{% url 'blog' %}" class="prev">
							← Return to blogs
						</a>

					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}


</body>
</html>